body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  scroll-behavior: smooth;
}

/* NAVIGATION */
header {
  background: #161b22;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  color: #58a6ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #58a6ff;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  color: #1f6feb;
}

/* HERO */
.hero {
  padding: 120px 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 25px;
  border: 3px solid #58a6ff;
}

.hero h1 {
  margin-top: 20px;
  font-size: 42px;
}

.hero h2 {
  font-size: 20px;
  margin-top: 10px;
  color: #c9d1d9;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 15px;
  opacity: 0.8;
}

.hero-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons {
  margin-top: 25px;
}

.social-icons a {
  margin: 0 12px;
  text-decoration: none;
  color: #58a6ff;
  font-weight: 600;
}

.social-icons a:hover {
  color: #1f6feb;
}


/* PROJECTS */
.project-card {
  background: #161b22;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.project-link {
  color: #58a6ff;
  font-weight: bold;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
}

/* CONTACT */
.contact-card {
  background: #161b22;
  padding: 25px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #161b22;
  color: #58a6ff;
}
